
:host {
  &.sidebar {
    &.bottom {
      width: var(--ax-sidebar-bottom-width);
      height: var(--ax-sidebar-bottom-height);
      &.collapsed {
        transform: translateY(
          calc(var(--ax-sidebar-bottom-height) + var(--ax-sidebar-bottom-collapsed-offset))
        );
      }
    }
  }
}

