
:host {
  &.sidebar {
    &.left {
      width: var(--ax-sidebar-left-width);
      height: var(--ax-sidebar-left-height);
      padding: var(--ax-sidebar-left-padding);
      &.collapsed {
        transform: translateX(
          calc(
            calc(var(--ax-sidebar-left-width) + var(--ax-sidebar-left-padding) + var(--ax-sidebar-left-collapsed-offset)) * -1
          )
        ); /* Adjust for any margin/padding */
      }
    }
  }
}

