
:host {
  &.sidebar {
    &.top    {
      width: var(--ax-sidebar-top-width);
      height: var(--ax-sidebar-top-height);
      &.collapsed {
        transform: translateY(
          calc(
            calc(var(--ax-sidebar-top-height) + var(--ax-sidebar-top-collapsed-offset)) * -1
          )
        );
      }
    }
  }
}

